@media screen and (min-width:700px) {
  section {
    width: 50%;
    min-width: 350px;
    height: 100%;
    float: left;
  }

  section.preview {
    border-left: 1px solid black;
  }
}

html, body, main {
  height: 100%;
  margin: 0;
}

iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

textarea#editor {
  width: 100%;
  height: 100%;
  margin: 0;
  visibility: hidden;
}

.CodeMirror {
  font-size: 1.2em;
}
